/* MAIN STYLESHEET */

/* html & body */

html {min-height: 100%; margin-bottom: 1px;}
html {overflow: -moz-scrollbars-vertical !important;}

body { background: #fff; color: #222; font:13px "Helvetica Neue", Helvetica, Arial, sans-serif;}

/* general */

header,nav,article,footer,section,aside,figure,figcaption{display:block;}

::selection {background:#e33258; color:#fff;}
::-moz-selection {background:#e33258; color:#fff;}
::-webkit-selection {background:#e33258; color:#fff;}

.clearfix {clear:both;}

/* headings */

h1 {font-size:30px; margin-left:50px; margin-top:10px; padding-top:20px; color: #ffffff;}

h2 {font-size:14px; margin-left:50px; color: #ffffff;}

/* links */

a {color: #82c01e; text-decoration:none;}

a:hover {color: #222; text-decoration:none;}

/* header */

header {width:960px; height:120px; background: #ffffff url('images/header.jpg'); color: #343434; margin-bottom:10px;}

/* content */

#container {width:960px; margin:5px auto;}

#left {float:left; width: 700px;margin: 0 10px 0 0;padding:0;}

#right {float:right; width: 250px; margin:0; padding:0;}

/* footer */

footer {width:960px; margin:0 auto; padding:0;}

/* comments */
.commentlist {margin: 0;}
.comm {margin:0; padding:15px 0 0 0; border-bottom: 1px solid #ccc;}

#commentform {margin: 0;}
#comments {width: 735px; padding:0; margin: 0;}

#comments .tabs { width: 735px; }
#comments .sidetab-head { padding: 5px 15px; }

#comments ul {list-style: none; }
#comments ul.commentlist { padding: 0; }
#comments ul.parent { padding-bottom: 0px; }
#comments ul.children {margin:0 0 0 50px; padding:0; list-style:none;}
#comments ul.commentlist li { margin: 0; }


.comment-reply-link { float: left; position: relative; text-transform: uppercase; font-size: 11px; text-decoration: none;}
.comment-reply-link {padding:2px 5px 2px 5px; margin:0 0 5px 0; border: 0; font-size:13px;background: #187c77; color: #fff; font-weight:bold;}
.comment-reply-link:hover{padding:2px 5px 2px 5px; margin:0 0 5px 0; border: 0; font-size:13px;background: #2d5681;color: #fff; font-weight:bold;}
.comment-reply-link a {color: #fff;}
.comment-reply-link a:hover {color: #fff;}

#respond {margin:0; padding:0;}

ul.pinglist {list-style:none; margin:0 0 5px 0;padding:0;}
li.pinglist {margin:0 0 3px 0;padding:0;}
.pinglist a {color: #252525;}
.pinglist a:hover{color: #000;}

.trackback { clear: both; }
.trackback ul { list-style: none; margin-top: 10px;}

.avatar {
float:left;
width:60px;
height:60px;
margin: 0 10px 0 0;
}

.avatar img{
border: 0;
}

.comment-meta {float:left; width: 80%; margin: 0 0 10px 0;}
small {font-size: 13px; color:#2d5681;vertical-align:middle; margin: 0 0 0 5px;}
.comhead {display:inline; font-size: 15px; font-weight:bold;vertical-align:middle;}

.name {}
.says {}
.says p {margin:5px 0 5px 0;}

label {
display:block;
font-size: 12px;
color: #666;
margin: 10px 0 5px 0;
padding:0;
font-weight:bold;
}

/* comment form */
img {outline:none;}
input {outline:none;}
textarea {outline:none;}

#commentform {
width: 380px;
margin: 0 0 20px 0;
}


#author2 {
width: 380px;
margin: 0 0 10px 0;
padding: 3px;
font:12px 'PT Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
border:1px solid #e5e5e5;
}

#author2:focus {
border:1px solid #4f94cb;
padding: 3px;
}

#email {
width: 380px;
margin: 0 0 10px 0;
padding: 3px;
font:12px 'PT Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
border:1px solid #e5e5e5;
}

#email:focus {
border:1px solid #4f94cb;
padding: 3px;
}

#url {
width: 380px;
margin: 0 0 10px 0;
padding: 3px;
font:12px 'PT Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
border:1px solid #e5e5e5;
}

#url:focus {
border:1px solid #4f94cb;
padding: 3px;
}

#comment {
width: 380px; 
min-width: 380px;
max-width: 380px;
min-height: 150px;
margin: 0;
padding: 3px;
font:12px 'PT Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
border:1px solid #e5e5e5;
}

#comment:focus {
border:1px solid #4f94cb;
padding: 3px;
}

#submit-comment {
display:block;
background: #187c77;
color: #fff;
font-weight:bold;
padding: 5px;
width: 150px;
margin: 10px 0 10px 0;
border:0;
cursor:pointer;
}

#submit-comment:hover {
background: #2d5681;
color: #fff;
font-weight:bold;
padding: 5px;
width: 150px;
margin: 10px 0 10px 0;
border:0;
cursor:pointer;
}

#cancel-comment-reply-link {
font-size: 11px;
margin: 10px 0 15px 0;
padding:2px;
background: #4f94cb;
color: #fff;
}

#cancel-comment-reply-link:hover {
font-size: 11px;
margin: 10px 0 15px 0;
padding:2px;
background: #187c77;
color: #fff;
}